<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Muebles Santiago</title>
</head>
<body>
  <h1>Carga de archivos</h1>
    <div class="container">
        <form th:action="@{/load}" method="post"enctype="multipart/form-data">
            <input type="file" class="form-control" name="archivos">
            <input type="submit" value="Carga">
        </form>
    </div>

    <div>
        <h1>Ingresar justificativos</h1>
        <form>
            <label for="rut_just">Rut:</label>
            <input id="rut_just" type="text" name="rut_justificativo">

            <label for="fecha_just">Fecha justificativo</label>
            <input id="fecha_just" type="date">

            <input type="submit" value="Enviar">
        </form>
    </div>

  <div>
      <h1>Ingresar autorizaciones</h1>
      <form>
          <label for="rut_auto">Rut</label>
          <input id="rut_auto" type="text" name="rut_autorizaciones">

          <label for="fecha_auto">Fecha autorización</label>
          <input id="fecha_auto" type="date">

          <input type="submit" value="Enviar">
      </form>
  </div>

  <Button>

    <p>Ingrese el rut SIN puntos y CON guión</p>
</body>
</html>