<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Muebles Santiago</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/upload/home">Cargar ingresos/salidas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/justificativo/formulario">Ingresar justificativos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/autorizacion/formulario">Ingresar autorizaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/sueldo/planilla">Sueldos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>




<div class="container-sm">
    <br><br>
    <h1>Carga de archivos</h1>
    <div class="container">
        <form th:action="@{/upload/load}" method="post" enctype="multipart/form-data">
            <div style="padding: 2vh">
            <input type="file" class="form-control" name="archivos">
            </div>
            <div style="padding: 2vh">
            <input type="submit" value="Carga" class="btn btn-success">
            </div>
        </form>
    </div>

</div>
</body>
</html>