<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ingresar justificativos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Cargar ingresos/salidas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/justificativo/formulario">Ingresar justificativos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/autorizacion/formulario">Ingresar autorizaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/sueldo/planilla">Sueldos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div>
    <div>
        <div>
            <h1 class="text-left">Ingreso de justificativos</h1>
            <div class="card-body">
                <form th:action="@{/justificativo/agregar}" th:object="${justificativo}" method="post">
                    <div class="form-group">
                        <label for="rut_just">Rut:   </label>
                        <input id="rut_just" type="text" name="rut_justificativo" th:field="*{rut}">
                        <br>
                    </div>
                    <div>
                        <label for="fecha_just">Fecha: </label>
                        <input id="fecha_just" type="date" name="fecha_justificativo" th:field="*{fecha}">
                    </div>
                    <br>
                    <input type="submit" value="Enviar">
                </form>

            </div>
            <p>Ingrese el rut SIN puntos y CON guión</p>
        </div>
    </div>
</div>
</body>
</html>